doctype html
html
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  head
    title 排行榜
    script(src='/js/jquery.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(content='telephone=no', name='format-detection')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='HandheldFriendly', content='true')
    link(rel='stylesheet', type='text/css', href='/css/ranking_list.css')
  body(style='margin:0px;padding:0px;font-family:微软雅黑;background-color:#eeeeee')
    each item, i in ranking_info.list
        .single_list
            .number #{i+1}
            img.head(src='#{item.icon}')
            .info
                .username #{item.nickname}
                .steps #{item.similarity}%
                .amount_dividing(value='#{item.similarity}')
            img.challenge(src='/img/1.png', value='i')
    #longest_dividing(value='#{ranking_info.list[0].similarity}')
    a(href="/map.html?myid=#{ranking_info.myid}")
      input(type='button')
   script.
    var rank_front;
    var number;
    var window_width = document.all ? document.getElementsByTagusername("html")[0].offsetHeight : window.innerWidth;
    $(function(){ 
        $(".number").each(function(){
            if(parseInt($(this).text()) <= 3){
                rank_front = $("<img src = '/img/number"+ (parseInt($(this).text()))+".png' class = 'rank_front'/>");
                $(this).empty();
                rank_front.appendTo($(this));
            }
        })
        $(".amount_dividing").each(function(){
            $(this).css("width", parseInt($(this).attr("value"))/parseInt($("#longest_dividing").attr("value")) * window_width * 0.5 + "px");
        })
    })
